<h1> formulario </h1>
<%= form_with model: @todo, local: true, url: new_path do | form |%>

	<div class="form-control-lg">
		<%= form.text_field :description%>
	</div>
	
	<div class="form-control-lg">
		<%= form.check_box :completado%>
	</div>

	<div  class="form-control-lg">
		<%= form.submit class: "btn btn-primary"%>
	<% end%>
	</div>
<br>
<%= link_to 'Back', index_path%>